body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  text-decoration: none;
}
.bg {
  background-repeat: no-repeat;
  -webkit-transform: rotateZ(45deg);
  transform: perspective(15em) rotateX(60deg);
  position: relative;
  left:auto;
  right:auto;
  bottom: 0;
  width: 75%;
  z-index: -100;
}
.title, .button{
  padding:5px 12px;
  float:right;
  border: 1px solid lightblue;
  border-radius: 2px;
}
.button{
  margin-right: 3px;
}
.lineup{
  margin-right: 10px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.move{
  position: relative;
  top: 100px;

}
.redDot{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -webkit-transition:top .05s, left .05s;
  transition:top .05s, left .05s;
}
img.cat-dancer{
  padding: 0 10px;
  max-height: 70px;
  max-width: auto;
  position:absolute;
  -webkit-transition:top 5s, left 5s;
  transition:top 5s, left 5s;
  z-index: 100;
}
img.cat-dancer:hover{
  max-height: 140px;
};